/* My sevices section*/

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/services-bg.jpg);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services {
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.services {
    margin-bottom: 4em;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
    }

    .service+.service {
        margin-left: 2em;
    }
}

.about-me {
    max-width: 1024px;
    margin: 0 auto;
}

.about-me__img {
    box-shadow: var(--bs);
}


@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
        "title img"
        "subtitle img"
        "text img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -1em;
        width: calc(100% + 2.5em);
        padding-right: calc(200px + 4em);
        padding-left: 1em;
    }

    .about-me__img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}