@import url('blogheader.css');
@import url('blogcard.css');



*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update with my own design */

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw--bold: 900;

    /* Initial Color Palette
        natural
            - #1B1B1B: Matte Black
            - #8685EF: Light Purple
            - #FAF8FF: White (darker)
            - #302E3D: Black contrasted
    */

    --clr-light: #F5F6F2;
    --clr-dark: #1B1B1B;
    --clr-accent: #CE4F45;
    --clr-dark-bg: #9DA3A2;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General styles */

html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}


h1, h2 {
    font-size: 3rem;
    font-style: italic;
    margin: 0;
    font-weight: 300;
}

img {
    max-width: 100%;
}

a {
    text-decoration: underline wavy yellow;
}
