/* article section */

.post {
    display: grid;
    margin: 0 auto;
    max-width: 1000px;
    grid-gap: 10px 50px;
    grid-template-columns: 3fr 12fr 5fr;
}

.post > * {
    grid-column: 2 / -2;
}

.post > figure {
    margin: 0 auto;
    grid-column: 1 / -1;
}

figcaption {
    font-size: .625rem;
}

hr {
    width: 1024px;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post > blockquote {
    grid-column: 1 / -1;
    font-size: 3rem;
    font-style: italic;
    margin: 0 auto;
    text-align: center;
}

.tip {
    background: #F5F6F2;
    padding: .625em;
}

.tip-right {
    grid-column: 3 / span 1;
    text-align: left;
    border-left: 4px solid yellow;
}

.tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 4px solid yellow;
}